<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body id="home-page" class="site-page">
    <h1 class="page-title">Home</h1>
    <nav id="site-navigation" class="site-navigation">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/products">Products</a></li>
      </ul>
    </nav>
    <p class="page-intro">[Add some content specific to this page]</p>
  </body>
</html>
